[Unit]
Description=clang-tidy cache server user service.

[Service]
KeyringMode=private
NoNewPrivileges=true
PrivateTmp=true
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectSystem=full
RemoveIPC=true
UMask=077
EnvironmentFile=%h/.config/ctcache/systemd_env
Type=simple
WorkingDirectory=%h
ExecStartPre=mkdir -p %h/.cache/ctcache-stats
ExecStart=/usr/bin/python3 %h/.local/bin/clang-tidy-cache-server $CTCACHE_SERVICE_ARGS
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
